.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.8rem;
}

.dropdownIcon {
  display: flex;
  width: 0.6rem;
  height: 0.4rem;
  margin-left: 0.8rem;
  transition: all 0.2s ease-in-out;
  color: var(--gray-5);
}

.dropdownIconOpen {
  transform: rotate(180deg);
  color: var(--gray-6);
}

.dropdownItem {
  padding: 0.5rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  font-size: 1.2rem;
}

.dropdownItem:hover {
  background-color: var(--gray-1);
  color: var(--gray-6);
}

.dropdownContainer {
  position: absolute;
  background-color: white;
  border-radius: 0.8rem;
  min-width: 18rem;
  width: max-content;
  box-shadow: var(--shadow);
  z-index: 10;
}

.customClass {
  top: 2.4rem;
  padding: 1.9rem 1.2rem;
}

.calendar {
  top: 4.5rem;
  right: 0;
  padding: 2.4rem 1.8rem;
}

.buttonName {
  font-size: inherit;
  color: var(--gray-6);
}
