.searchContainer {
  display: flex;
  width: 100%;
  margin: 0 4rem;
  position: relative;
  border-bottom: var(--border-1);
  transition: all 0.3s ease-in-out;
}
.searchContainer:focus-within {
  border-bottom: 1px solid var(--blue);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7rem;
  height: 1.7rem;
  position: absolute;
  bottom: 0.8rem;
}

.inputSearch {
  padding: 0 calc(1.6rem + 1.7rem);
  border: 0;
  width: 100%;
  color: var(--gray-6);
  font-weight: bold;
}

.inputSearch:focus {
  outline: 0;
}

.inputSearch::placeholder {
  color: var(--gray-4);
  opacity: 1;
}

.inputSearch:-ms-input-placeholder {
  color: var(--gray-4);
}

.inputSearch::-ms-input-placeholder {
  color: var(--gray-4);
}
