.monthNameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  margin-bottom: 1.6rem;
  border-bottom: var(--border-1);
}

.previousMonth,
.nextMonth {
  display: flex;
  cursor: pointer;
  color: currentColor;
  width: 1.2rem;
  height: 1.2rem;
}

.previousMonth > svg,
.nextMonth > svg {
  width: 0.6rem;
  height: 0.4rem;
  margin: auto;
}

.previousMonth {
  transform: rotate(90deg);
}

.nextMonth {
  transform: rotate(-90deg);
}

.monthName {
  width: max-content;
  white-space: nowrap;
}
