.weekdaysName {
  display: grid;
  grid-template-columns: var(--rowCalendar);
  margin-bottom: 1rem;
}

.dayCell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
