.avatarContainer {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: var(--border);
  background-color: white;
}

.avatarImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0.6rem;
}
