.DayPicker {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.4rem;
}

.DayPicker-wrapper {
  position: relative;
  flex-direction: row;
  user-select: none;
}

.DayPicker-Months {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.DayPicker-Months .DayPicker-Month:first-child {
  margin-right: 2.5rem;
}

.DayPicker-Month {
  display: flex;
  flex-direction: column;
  user-select: none;
}

/* GRID FOR NAME OF THE WEEKS AND THE WEEK ROWS
THE COLUMN OF THIS GRID NEEDS TO BE THE SAME FOR
WEEK ROWS AND WEEK DAYS NAME */
.DayPicker-WeekdaysRow,
.DayPicker-Week {
  display: grid;
  grid-template-columns: repeat(7, 3.2rem);
  align-items: center;
  justify-items: center;
  height: 2.5rem;
}

/* DAYS OF THE WEEK NAME */
.DayPicker-WeekdaysRow {
  color: var(--gray-4);
  margin-bottom: 1.6rem;
}

/* WEEK ROWS  */
.DayPicker-Body .DayPicker-Week:not(:last-child) {
  margin-bottom: 0.5rem;
}

/* SELECTED START DAY */
.DayPicker-Day.DayPicker-Day--start.DayPicker-Day--selected[aria-selected='true'] {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  z-index: 1;
}

/* SELECTED END DAY */
.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected[aria-selected='true'] {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: red;
  color: white;
}

/* DAYS OUTSIDE THE CALENDAR AND DISABLED */
/* .DayPicker-Months
  .DayPicker-Month
  .DayPicker-Week
  .DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--outside[aria-disabled='true'] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: gold;
} */

.DayPicker-Week
  .DayPicker-Day.DayPicker-Day--selected.DayPicker-Day--outside:not(.DayPicker-Day.DayPicker-Day--end.DayPicker-Day--selected) {
  display: block;
  width: 3.2rem;
  height: 2.5rem;
  background-color: purple;
}

/* DAYS IN RANGE BUT NOT DAY START/END SELECTED */
.DayPicker-Day.DayPicker-Day--selected[aria-selected='true']:not(.DayPicker-Day--start.DayPicker-Day--selected):not(.DayPicker-Day--end.DayPicker-Day--selected) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: olivedrab;
}

.DayPicker-Day.DayPicker-Day--selected[aria-selected='true'].DayPicker-Day--start.DayPicker-Day--selected:not(.DayPicker-Day--end.DayPicker-Day--selected)
  + [aria-selected='true']::after {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  margin-right: 4rem;
  /* left: 1rem; */
  background-color: yellowgreen;
}

.DayPicker-Day.DayPicker-Day--selected[aria-selected='true'].DayPicker-Day--end.DayPicker-Day--selected:not(.DayPicker-Day--start.DayPicker-Day--selected):not(:first-child):before {
  content: '';
  width: 2rem;
  height: 2.5rem;
  position: absolute;
  margin-right: 2rem;
  background-color: peru;
  z-index: -1;
}
