.dropdownButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 0.8rem;
}

.dropdownIcon {
  display: flex;
  width: 0.6rem;
  height: 0.4rem;
  margin-left: 0.8rem;
  transition: all 0.2s ease-in-out;
  color: var(--gray-5);
}

.dropdownIconOpen {
  transform: rotate(180deg);
  color: var(--gray-6);
}
