.tableContainer {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: var(--gray-6);
  font-weight: bold;
}

.tableHeader {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: var(--row);
}

.tableHeader {
  align-content: center;
  color: var(--gray-4);
  height: 4rem;
  margin-bottom: 0.2rem;
  border-bottom: 2px solid var(--gray-1);
}
