.filtersWrapper {
  display: flex;
  align-items: center;
}

.filtersWrapper > .filterContainer:not(:last-child) {
  margin-right: 4rem;
}

.filterContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.filterDate {
  display: flex;
  justify-content: center;
  padding: 1.1rem 1.6rem;
  border: var(--border);
  min-width: max-content;
  max-width: 22rem;
  border-radius: 0.3rem;
  position: relative;
  color: #5c5c5c;
}
