.allCouriers {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  color: var(--gray-5);
  line-height: 1.9rem;
  height: 100%;
  cursor: pointer;
  position: relative;
}
